<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.demo.question.mapper.AnsShapeMapper">

    <select id="findAnsShapeList" resultType="com.demo.question.entity.AnsShape">
        select * from admin_ansShape
    </select>

    <delete id="deleteAnsShapeById" parameterType="java.lang.Long">
        delete from admin_ansShape where id=#{id}
    </delete>

    <insert id="add" parameterType="com.demo.question.entity.AnsShape">
        insert into admin_ansShape(shape) values(#{shape})
    </insert>


    <update id="update" parameterType="com.demo.question.entity.AnsShape">
        update admin_ansShape set shape=#{shape} where id=#{id}
    </update>
</mapper>