<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.demo.basic.mapper.ActorMapper">

    <select id="actorList" resultType="com.demo.basic.entity.Actor">
        select * from admin_actor
    </select>

    <delete id="deleteActorById" parameterType="java.lang.Long" >
        delete from admin_actor where id=#{id}
    </delete>

    <insert id="addActor">
        insert into admin_actor (actorName) values(#{actorName})
    </insert>

    <update id="updateActor">
        update admin_actor set actorName=#{actorName} where id=#{id}
    </update>

    <delete id="deleteActorPurviewByActorId" parameterType="java.lang.Long">
        delete from admin_actorPurview where actorId=#{id}
    </delete>

    <select id="findActorByUserId" parameterType="java.lang.Long" resultType="com.demo.basic.entity.Actor">
        select * from admin_actor a where a.id=(select actorId from admin_userActor where userId=#{userId})
    </select>
</mapper>