<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.demo.basic.mapper.UserMapper">

    <select id="findByUserNameAndPassword" resultType="com.demo.basic.entity.User" parameterType="com.demo.basic.entity.User">
        select * from admin_user where userName=#{userName} and password=#{password}
    </select>

    <select id="userList" resultType="com.demo.basic.entity.User">
        select * from admin_user
    </select>

    <delete id="deleteUserById" parameterType="java.lang.Long">
        delete from admin_user where id=#{id}
    </delete>

    <insert id="saveUser" parameterType="com.demo.basic.entity.User">
        insert into admin_user (userName,password,trueName,phone,email,registerDate,comments)
                     values(#{userName},#{password},#{trueName},#{phone},#{email},#{registerDate},#{comments})
    </insert>

    <update id="updateUser" parameterType="com.demo.basic.entity.User">
        update admin_user
        set userName=#{userName},password=#{password}, trueName=#{trueName}, phone=#{phone}, email=#{email}, registerDate=#{registerDate}, comments=#{comments} where id=#{id}
    </update>

    <delete id="deleteUserActorByUserId" parameterType="java.lang.Long">
        delete from admin_userActor where userId=#{id}
    </delete>

    <select id="findListByUserNameAndPassword" parameterType="com.demo.basic.entity.User" resultType="com.demo.basic.entity.User">
        select * from admin_user where userName=#{userName} and password=#{password}
    </select>
</mapper>




